# AWS Cognito Configuration
AWS_COGNITO_USER_POOL_ID=your_user_pool_id
AWS_COGNITO_CLIENT_ID=your_client_id
AWS_COGNITO_CLIENT_SECRET=your_client_secret
AWS_COGNITO_REGION=your_aws_region
AWS_COGNITO_PROFILE=saml # Optional, for local development with SAML
